<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EnvironmentVariables</key>
	<dict>
		<key>PATH</key>
		<string>/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin:/Library/Apple/usr/bin:/usr/local/sbin</string>
	</dict>
	<key>KeepAlive</key>
	<dict>
		<key>SuccessfulExit</key>
		<true/>
	</dict>
	<key>Label</key>
	<string>spice.client</string>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/local/bin/python3.7</string>
		<string>/Users/vadimkozyrevskij/project_folder/spice_client_runner/main.py</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
</dict>
</plist>